{{ define "main" }}
{{ $pages := where .Site.RegularPages "Params.plain" "ne" true }}

<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/gsap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/gsap@3.12.5/dist/ScrollTrigger.min.js"></script>
<script src="https://unpkg.com/split-type"></script>
<script src="https://cdn.jsdelivr.net/npm/@studio-freight/lenis@1.0.42/dist/lenis.min.js"></script>

<section>
  <div style="position: relative;">
    <img src="assets/images/mainpage.png" alt="Standing on Apartment Roof with Houston Skyline" style="width: 100%; height: auto;">
    <div style="position: absolute; left: 40%; top: 15%; font-size: 2.5vmax; padding-right: 1vw">
      <h1 style="color: white; display: inline;">Hello there!</h1>&#x20;<h1 class="reveal-type" style="color: white; display: inline">Welcome to my personal website. Here you'll find some projects I have worked on and other things I like.</h1>
    </div>
  </div>
</section>

<script>
  gsap.registerPlugin(ScrollTrigger)
  const splitTypes = document.querySelectorAll('.reveal-type')

  splitTypes.forEach((char, i) => {
    const text = new SplitType(char, { types: 'words'})

    gsap.from(text.words, {
      scrollTrigger: {
        trigger: char,
        start: 'top 20%',
        end: 'top 5%',
        scrub: true,
        markers: false
      },
      opacity: 0,
      stagger: 0.1
    })
  })

  const lenis = new Lenis()

  function raf(time) {
    lenis.raf(time)
    requestAnimationFrame(raf)
  }

  requestAnimationFrame(raf)
</script>

{{- if site.Params.ShowMore -}}
  <section class="more-from-newsroom">
    <div class="section-content">
      <h2 class="section-head">{{ i18n "moreArticles" }}</h2>
      <ul role="list" class="section-tiles">

      {{ range first 6 $pages }}
          {{ partial "moreTile.html" (dict "context" .) }}
        {{ end }}
      </ul>
      <div class="view-archive-wrapper">
        <a href="{{ "posts" | relURL }} " class="cta-primary-light" data-analytics-region="router" data-analytics-title="view archive">{{ i18n "viewArchive"}}</a>
      </div>
    </div>
  </section>
{{- end -}}
    <script>
      document.addEventListener("DOMContentLoaded", function () {
        var script = document.createElement("script");
        script.src = {{ "js/animation.js" | relURL  }};
        document.head.appendChild(script);

        script.onload = function () {
          console.log("lazyload.js loaded");
          // when layout is loaded, load the images
          initImage();
        };
      });
    </script>
{{ end }}