:root {
    --background-color: #000000;
    --primary-color: #ffffff;
    --darken-primary-color: hsl(0, 0%, 80%);
    --secondary-color: #a4a4a4;
    --darken-secondary-color: hsl(0, 0%, 50%);
    --accent-color: #0071e3;
    --darken-accent-color: hsl(210, 100%, 35%);
    --left-hand-color: #90EE90;
    --right-hand-color: #FFB6C1;
}

full-screen-span {
    display: block;
    height: 50vh;
}

.full-screen-span {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    text-align: center;
}

.fullscreen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    max-height: unset;
    z-index: 999; /* Ensure it's on top */
}

piano-roll-canvas {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}